.filters-container {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .filters-container label {
    margin-right: 10px;
  }
  
  .filters-container input[type="text"],
  .filters-container select,
  .filters-container input[type="date"] {
    padding: 5px;
    margin-right: 10px;
  }
  