/* Base Styles */
body {
  font-family: Arial, sans-serif; /* Using Arial as a fallback font */
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 20px auto; /* Add margin for spacing */
  padding: 20px;
}

h1,
h2 {
  margin-bottom: 10px;
}

/* Task Component Styles */
.task {
  border: 1px solid #ddd;
  border-radius: 8px; /* Increase border-radius for a softer look */
  padding: 20px; /* Add more padding for spacing */
  margin-bottom: 20px; /* Increase margin for spacing between cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box-shadow for depth */
}

.task button {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task button:hover {
  background-color: #3e8e41;
}

.task select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* TaskList Component Styles */
.task-list {
  margin-bottom: 20px;
}

.task-list h2 {
  background-color: #f1f1f1;
  padding: 16px;
  border-radius: 8px;
  margin: 0; /* Reset margin to ensure consistency */
}

/* TaskBoard Component Styles */
.task-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.task-board .task-list {
  flex: 1 0 30%; /* Adjust flex properties for better responsiveness */
}

/* TaskForm Component Styles */
.task-form {
  margin-bottom: 20px;
  padding: 20px; /* Add padding for spacing */
  border: 1px solid #ddd; /* Add border for separation */
  border-radius: 8px; /* Add border-radius for a softer look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box-shadow for depth */
}

.task-form label {
  display: block;
  margin-bottom: 10px; /* Increase margin for spacing */
}

.task-form input,
.task-form select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 15px; /* Increase margin for spacing */
}

.task-form button {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-form button:hover {
  background-color: #3e8e41;
}

/* Filters Component Styles */
.filters {
  margin-bottom: 20px;
  padding: 20px; /* Add padding for spacing */
  border: 1px solid #ddd; /* Add border for separation */
  border-radius: 8px; /* Add border-radius for a softer look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box-shadow for depth */
}

.filters label {
  display: block;
  margin-bottom: 10px; /* Increase margin for spacing */
}

.filters input,
.filters select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 15px; /* Increase margin for spacing */
}

